* {
    box-sizing: border-box;
}
/* font size wont adjust accordenly and having trouble getting the color to work*/
h1 {
    font-size: 25px;
    color: #4aaaa5;
    border-bottom: 5px solid #cccccc;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding-bottom: 20px;
    
}
/*having an issue with the wrap around the picture*/
body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5px;
    text-align: left;
    width: 960px;
}
/*issue with font size and border*/
header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    height: 100%;
    width: 200px;
    text-align: center;
    float: left;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: -10px;
    border-bottom: none;
    margin-left: -120px;
    margin-right: 220px;
    font-size: 20;
}

nav {
    width: 750px;
    float: right;
    text-align: center;
    margin-right: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #cccccc;
}

li {
    float: left;
    width: 30%;
    padding: 10px;
    color: #cccccc;
    text-align: bottom;
}

li.border {
    border-right: 1px solid #cccccc;
    padding: 10px;
}

section {
    background-color: #ffffff;
    float: left;
    color: #777777;
    border: 2px solid #dddddd;
}

input {
    width: 100%;
    padding: 10px 20px 10px 10px;
    margin: 8px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}

textarea {
    width: 100%;
    padding: 100px 100px 100px 100px;
    margin: 8px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}

footer {
    clear: both;
    margin: 0 auto;
    vertical-align: middle;
    padding: 0;
    height: 40px;
    background-color: #666666;
    width: 100%;
    border-bottom: none;
    color: white;
    text-align: center;
}

.header-container {
    border-bottom: 2px solid #cccccc;
    Background-color: #ffffff;
    height: 50px;
    text-align: bottom;
    font-size: 20px;
    margin-bottom: 0;
}

.main-container {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    height: 0 auto;
    width: 100%;
    border-bottom: 5px solid #4aaaa5;
    background-image: url(/assets/images/background-middle.png)
}

.project {
    float: left;
    position: relative;
    top: 30px;
    width: 150px;
    height: 100px;
    margin: 30px;
    margin-left:0px;
    padding: 0;
    margin-top: -10px;
}

.project-title {
    float: left;
    position: relative;
    top: 10;
    width: 100%;
    height: 25px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin-top: -30px;
    margin-left: 0px;
    padding: 0px;
}


.button {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    position: relative;
    top: -8px;
}

#contact-info,
#portfolio,
#main-bio {
    position: relative;
    text-align: left;
    width: 650px;
    top: 30px;
    margin-left: 125px;
    margin-bottom: 50px;
    width: 560px;
}
#contact-info{
    padding: 20px;
    height: 600px;
}

#bio-image {
    clear: both;
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

#portfolio {
    padding: 15px;
    height: 600px;
}
#main-bio{
    clear: both;
    height: 600px;
}